header, section, footer, aside, nav, article, figure, figcaption{
    display: block;
}

body{
    color: #050505;
    background-color: rgb(207, 170, 176);
    background-image: url("6902c23de1761960cedcbecdf6cca6e7.jpg");
    font-family: didot;
    line-height: 1.9em;
    margin:5px;
    

}
.wrapper{
    width: 1050px;
    margin: 5px auto 5px auto;
    border: 2px solid #e2b9b9;
    background-color: rgb(233, 200, 205);

    
}

header{
    height: 125px;
    background-image: url('daf72bb381dfd2855b56a41d1229915d.jpg');
    text-align: center;
}
hi{
    text-indent: 9999px;
    width: 940px;
    height: 130px;
    margin: 0px;
}

nav, footer{
    clear: both;
    color: #f7e9e9;
    background-color: #383336;
    height: 30px;
}

nav ul{
    margin: 0px;
    padding: 3px 0px 3px 20px;
}
nav li{
    display: inline;
    margin-right:20px;
}
nav li a{
    color: #d6acac;
}
nav li a:hover, nav li a.current{
    color: #d8a1a1;
}

section.courses{
    float: left;
    width: 800px;
    border-right: 0px solid #dbd1da;
}
article{
    clear: both;
    overflow: auto;
    width: 100%;
}
hgroup{
    margin-top: 30px;
}
figure{
    float: left;
    width: 300px;
    height: 250px;
    padding: 10px;
    margin: 30px;
    border: 10x solid #eeeeee;
}

figcaption{
    font-size: 80%;
    text-align: left;
}
aside{
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;

}
aside section a{
    display: block;
    padding: 10px;
    border-bottom: 1px solid#f5e8e8;
}
aside section a:hover{
    color: #985d6a;
    background-color: rgb(177, 156, 156);
}
a{
    color: #985d6a;
    text-decoration: none;
    background-position: center;
}
h1, h2, h3{
    font-weight: normal;
}
h2{
    margin: 10px 0px 5px 0px;
    padding: 0px;
}
h3{
    margin:0px 0px 10px 0px;
}
aside h2{
    padding: 30px 0px 10px 0px;
    color: #0f0f0f;
}
footer{
    font-size: 80%;
    padding: 7px 0px 0px 20px;
}
